@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes text {
  0%, 100% {
    background-size: 200% 200%;
    background-position: left center;
  }
  50% {
    background-size: 200% 200%;
    background-position: right center;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-text {
  animation: text 3s ease infinite;
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}